Repository jcoler76/nectar-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, lint-backend, type-check, test-changed, format-check, security-review

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-frontend
        name: ESLint Frontend
        entry: npm run lint
        language: node
        pass_filenames: false
        files: '^src/.*\.(js|jsx|ts|tsx)$'
        
      - id: lint-backend
        name: ESLint Backend  
        entry: npm run lint:backend
        language: node
        pass_filenames: false
        files: '^server/.*\.js$'
        
      - id: type-check
        name: TypeScript Type Check
        entry: npm run type-check
        language: node
        pass_filenames: false
        files: '^(src|server)/.*\.(ts|tsx)$'
        
      - id: test-changed
        name: Test Changed Files
        entry: npm run test:changed
        language: node
        pass_filenames: false
        files: '^(src|server)/.*\.(js|jsx|ts|tsx)$'
        
      - id: security-audit
        name: Security Audit
        entry: npm audit --audit-level high
        language: node
        pass_filenames: false
        
      - id: format-check
        name: Prettier Format Check
        entry: npm run format:check
        language: node
        pass_filenames: false
        files: '^(src|server)/.*\.(js|jsx|ts|tsx|json|md|css)$'
        
      - id: security-review
        name: Claude Code Security Review
        entry: npm run security:review
        language: node
        pass_filenames: false
        files: '^(src|server)/.*\.(js|jsx|ts|tsx)$'

fix: Resolve all ESLint warnings and errors
  marketing-site/backend/routes/marketingBilling.js
  src/components/dashboards/DeveloperDashboard.jsx
  src/components/dashboards/OrganizationOwnerDashboard.jsx
  src/components/dashboards/RoleBasedDashboard.jsx
  src/components/dashboards/SuperAdminDashboard.jsx
  src/components/dashboards/widgets/ApiKeyManagement.jsx
  src/components/roles/MemberRoleManager.jsx
  src/components/roles/RoleGuard.jsx
  src/utils/rolePermissions.js
Due: lint-frontend, test-changed, format-check, security-review

feat: Add comprehensive business intelligence and analytics platform
  public/index.html
  server/routes/ai.js
  server/routes/workflows.js
  server/services/workflowAnalyticsService.js
  server/tests/security/bi-security.test.js
  src/App.jsx
  src/components/analytics/AnalyticsPage.jsx
  src/components/analytics/BusinessImpactDashboard.jsx
  src/components/analytics/NaturalLanguageQuery.jsx
  src/components/analytics/QueryResultsViz.jsx
  src/components/analytics/WorkflowPerformanceDashboard.jsx
  src/components/auth/Login.jsx
  src/components/dashboard/Dashboard.jsx
  src/components/dashboards/RoleBasedDashboard.jsx
  src/components/dashboards/widgets/NLQueryWidget.jsx
Due: lint-frontend, lint-backend, test-changed, format-check, security-review

feat: Restore honeycomb background and enhance login screen styling
  admin-frontend/src/App.tsx
  customer-app/src/components/auth/Login.jsx
  src/components/auth/Login.jsx
Due: lint-frontend, test-changed, format-check, security-review

fix: Resolve icon visibility issues in ConnectionForm for database connections
  src/components/connections/ConnectionForm.jsx
Due: lint-frontend, test-changed, format-check, security-review

feat: Restore missing BaaS analytics dashboards and navigation
  src/App.jsx
  src/components/layout/ModernSidebar.jsx
Due: lint-frontend, test-changed, format-check, security-review

feat: Restore About and Careers pages with advanced search functionality
  marketing-site/frontend/src/components/marketing/AboutPage.jsx
  marketing-site/frontend/src/components/marketing/CareersPage.jsx
Due: none

feat: Enhanced platform with security improvements and production configuration
  PRODUCTION_SETUP.md
  admin-backend/package-lock.json
  admin-backend/prisma/schema.prisma
  customer-app/src/utils/exportUtils.ts
  docs/root-md/CLAUDE.md
  marketing-site/frontend/src/App.jsx
  marketing-site/frontend/src/components/marketing/APIPage.jsx
  marketing-site/frontend/src/components/marketing/FeaturesPage.jsx
  marketing-site/frontend/src/components/marketing/Footer.jsx
  marketing-site/frontend/src/components/marketing/HomePage.jsx
  nginx-production.conf
  package-lock.json
  package.json
  railway.json
  server/config/passport.js
  server/package-lock.json
  server/package.json
  server/prisma/schema.prisma
  server/routes/index.js
  server/services/communication/providers/APNProvider.js
  src/components/analytics/BusinessImpactDashboard.jsx
  src/components/analytics/WorkflowPerformanceDashboard.jsx
  src/components/auth/Login.jsx
  src/components/connections/ConnectionForm.jsx
  src/components/connections/ConnectionList.jsx
  src/components/dashboards/RoleBasedDashboard.jsx
  src/hooks/useFormDialog.js
  src/utils/exportUtils.ts
Due: lint-frontend, lint-backend, type-check, test-changed, format-check, security-review

fix: Resolve OpenAPI generation returning empty spec for role documentation
  server/routes/documentation.js
  src/components/roles/BulkTableSelection.jsx
  src/components/roles/CreateRole.jsx
  src/services/roleService.js
Due: lint-frontend, lint-backend, test-changed, format-check, security-review

Pre-Vite migration checkpoint - current CRA setup
  audit-output.json
  package-lock.json
  package.json
  tsconfig.tsbuildinfo
Due: none

fix: Resolve Swagger documentation authentication and iframe security issues
  package-lock.json
  server/app.js
  server/middleware/index.js
  server/routes/index.js
  server/routes/swaggerUi.js
  src/components/roles/RoleList.jsx
Due: lint-frontend, lint-backend, test-changed, format-check, security-review

refactor: Remove Template20 intelligence system and modernize development configuration
  .cursorrules
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  MONGODB_TO_POSTGRESQL_MIGRATION_STATUS.md
  customer-app/server/docs/generated/index.json
  customer-app/server/middleware/activityLogger.js
  customer-app/server/models-mongodb-backup/DatabaseObject.js
  customer-app/server/query-procedures.js
  customer-app/server/routes/databaseObjects.js
  customer-app/server/routes/documentation.js
  customer-app/server/routes/index.js
  customer-app/server/routes/schemaSelection.js
  customer-app/server/server-original.js
  customer-app/src/types/business.ts
  deploy.sh
  docs/root-md/PROJECT_PLAN.md
  examples/ai-integration-demo.js
  graphql.config.js
  quality-report.json
  server/controllers/activityLogController.js
  server/docs/generated/index.json
  server/middleware/activityLogger.js
  server/models-mongodb-backup/DatabaseObject.js
  server/query-procedures.js
  server/routes/databaseObjects.js
  server/routes/documentation.js
  server/routes/index.js
  server/routes/reports.js
  server/routes/schemaSelection.js
  server/server-original.js
  src/components/reports/ActivityLogsReport.jsx
  src/types/business.ts
  tsconfig.tsbuildinfo
Due: lint-frontend, lint-backend, type-check, test-changed, format-check, security-review
