Repository jcoler76/nectar-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, lint-backend, type-check, test-changed, format-check, security-review

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-frontend
        name: ESLint Frontend
        entry: npm run lint
        language: node
        pass_filenames: false
        files: '^src/.*\.(js|jsx|ts|tsx)$'
        
      - id: lint-backend
        name: ESLint Backend  
        entry: npm run lint:backend
        language: node
        pass_filenames: false
        files: '^server/.*\.js$'
        
      - id: type-check
        name: TypeScript Type Check
        entry: npm run type-check
        language: node
        pass_filenames: false
        files: '^(src|server)/.*\.(ts|tsx)$'
        
      - id: test-changed
        name: Test Changed Files
        entry: npm run test:changed
        language: node
        pass_filenames: false
        files: '^(src|server)/.*\.(js|jsx|ts|tsx)$'
        
      - id: security-audit
        name: Security Audit
        entry: npm audit --audit-level high
        language: node
        pass_filenames: false
        
      - id: format-check
        name: Prettier Format Check
        entry: npm run format:check
        language: node
        pass_filenames: false
        files: '^(src|server)/.*\.(js|jsx|ts|tsx|json|md|css)$'
        
      - id: security-review
        name: Claude Code Security Review
        entry: npm run security:review
        language: node
        pass_filenames: false
        files: '^(src|server)/.*\.(js|jsx|ts|tsx)$'

feat: Complete secure CRM system with analytics and pipeline management
  admin-backend/.env.example
  admin-backend/src/middleware/adminAuth.ts
  admin-backend/src/middleware/serviceAuth.ts
  admin-backend/src/routes/crm.ts
  admin-frontend/src/components/AdminDashboard.tsx
  admin-frontend/src/components/crm/LeadAnalytics.tsx
  admin-frontend/src/components/crm/LeadDetail.tsx
  admin-frontend/src/components/crm/LeadList.tsx
  admin-frontend/src/components/crm/PipelineView.tsx
  admin-frontend/src/components/layout/AdminLayout.tsx
  admin-frontend/src/components/layout/AdminSidebar.tsx
  admin-frontend/src/components/layout/AdminTopBar.tsx
  admin-frontend/src/utils/exportUtils.ts
  server/routes/index.js
  server/routes/tracking.js
  src/components/analytics/BusinessImpactDashboard.jsx
  src/utils/appTracking.js
  tsconfig.tsbuildinfo
Due: lint-frontend, lint-backend, test-changed, format-check, security-review

Security: Remove sensitive files containing credentials and personal data
  .claude/settings.local.json
  marketing-site/frontend/src/components/marketing/PricingPage.jsx
  tsconfig.tsbuildinfo
Due: none

Security: Remove testLogin.js containing similar password pattern
  server/scripts/migrate-roles.js
  server/scripts/migrate-user-roles.js
  server/scripts/role-migration.sql
Due: lint-backend, test-changed, format-check, security-review

fix: Temporarily disable monitoring middleware to restore login functionality
  server/graphql/index.js
  server/middleware/activityLogger.js
  server/middleware/dynamicRateLimiter.js
  server/middleware/index.js
  server/server.js
  server/services/redisService.js
Due: lint-backend, test-changed, format-check, security-review

chore: Commit remaining changes before merge
  tsconfig.tsbuildinfo
Due: none

feat: Complete microservices separation and security monitoring improvements
  ADMIN_SERVICE_EXTRACTION.md
  BACKUP_RESTORATION_GUIDE.md
  CORE_SERVICE_CLEANUP.md
  MICROSERVICES_SEPARATION_PLAN.md
  admin-frontend/public/hero-marketing.svg
  admin-frontend/src/index.css
  admin-frontend/tailwind.config.js
  backups/backup_commands.txt
  dev.cmd
  server/middleware/index.js
  server/middleware/sqlInjectionMonitor.js
  server/services/securityMonitoringService.js
Due: lint-backend, test-changed, format-check, security-review

feat: Fix role editing bugs and improve schema fetching
  server/graphql/resolvers/role.js
  src/components/roles/CreateRole.jsx
  src/components/ui/checkbox.jsx
Due: lint-frontend, lint-backend, test-changed, format-check, security-review

chore: Fix all ESLint warnings for clean deployments
  src/components/applications/ApplicationList.jsx
  src/components/ui/ExportButton.jsx
  src/context/AuthContext.jsx
  src/utils/robustSecureStorage.js
  src/utils/storageErrorBoundary.js
Due: lint-frontend, test-changed, format-check, security-review

fix: Replace confirm with window.confirm to resolve ESLint warning
  src/components/fileStorage/FolderBrowser.jsx
  tsconfig.tsbuildinfo
Due: lint-frontend, test-changed, format-check, security-review
