Repository jcoler76/nectar-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-frontend, lint-backend, type-check, test-changed, format-check, security-review

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-frontend
        name: ESLint Frontend
        entry: npm run lint
        language: node
        pass_filenames: false
        files: '^src/.*\.(js|jsx|ts|tsx)$'
        
      - id: lint-backend
        name: ESLint Backend  
        entry: npm run lint:backend
        language: node
        pass_filenames: false
        files: '^server/.*\.js$'
        
      - id: type-check
        name: TypeScript Type Check
        entry: npm run type-check
        language: node
        pass_filenames: false
        files: '^(src|server)/.*\.(ts|tsx)$'
        
      - id: test-changed
        name: Test Changed Files
        entry: npm run test:changed
        language: node
        pass_filenames: false
        files: '^(src|server)/.*\.(js|jsx|ts|tsx)$'
        
      - id: security-audit
        name: Security Audit
        entry: npm audit --audit-level high
        language: node
        pass_filenames: false
        
      - id: format-check
        name: Prettier Format Check
        entry: npm run format:check
        language: node
        pass_filenames: false
        files: '^(src|server)/.*\.(js|jsx|ts|tsx|json|md|css)$'
        
      - id: security-review
        name: Claude Code Security Review
        entry: npm run security:review
        language: node
        pass_filenames: false
        files: '^(src|server)/.*\.(js|jsx|ts|tsx)$'

Remove GitHub workflows (requires workflow scope on token)
  .github/workflows/deploy-vpn.yml
  .github/workflows/deploy.yml.disabled
  .github/workflows/quality-gates.yml
Due: none

Fix TypeScript errors in ProtectedComponent after permissions refactoring
  admin-backend/src/controllers/authController.ts
  admin-backend/src/middleware/adminAuth.ts
  admin-backend/src/routes/auth.ts
  admin-backend/src/services/adminAuth.ts
  admin-backend/src/services/auditService.ts
  package.json
  src/components/common/ProtectedComponent.tsx
  src/components/marketing/CheckoutPage.jsx
  src/components/marketing/CheckoutSuccessPage.jsx
  tsconfig.tsbuildinfo
Due: lint-frontend, type-check, test-changed, format-check, security-review

Merge stashed changes: Restore admin-frontend simplification and cleanup
  admin-frontend/package-lock.json
  admin-frontend/postcss.config.js
  admin-frontend/vite.config.ts
  dev.cmd
  dev.sh
  tsconfig.tsbuildinfo
Due: none

Fix login authentication and axios URL construction issues
  scripts/extract-database-url.ps1
  src/components/ui/badge.tsx
  src/services/api.js
Due: lint-frontend, type-check, test-changed, format-check, security-review

security: Fix SOQL injection vulnerability and resolve linting issues
  server/services/salesforce/SalesforceService.js
  src/components/connections/ConnectionList.jsx
  src/services/serviceService.js
Due: lint-frontend, lint-backend, test-changed, format-check, security-review

feat: Expand Auto-REST API with multi-database support and React optimizations
  AUTO_REST_DOCUMENTATION.md
  OPTIMIZATION_TODO_LIST.md
  bundle-analysis.js
  server/prisma/generated/client/client.d.ts
  server/prisma/generated/client/client.js
  server/prisma/generated/client/default.d.ts
  server/prisma/generated/client/default.js
  server/prisma/generated/client/edge.d.ts
  server/prisma/generated/client/runtime/index-browser.d.ts
  server/prisma/generated/client/runtime/index-browser.js
  server/prisma/generated/client/wasm.d.ts
  server/routes/autoRest.js
  server/services/autoRest/autoRestService.js
  server/services/autoRest/dialects/mongodb.js
  server/services/autoRest/dialects/mssql.js
  server/services/autoRest/dialects/mysql.js
  src/components/common/BaseListView.jsx
  src/components/dashboard/KpiCard.jsx
  src/components/dashboard/MetricCard.jsx
  src/components/ui/data-table.jsx
  tsconfig.tsbuildinfo
Due: lint-frontend, lint-backend, type-check, test-changed, format-check, security-review

feat: Integrate API Builder into role creation workflow with enhanced UI
  server/routes/autoRest.js
  src/components/common/BaseListView.jsx
  src/components/layout/ModernSidebar.jsx
  src/components/roles/ApiBuilderWelcome.jsx
  src/components/roles/BulkHttpVerbConfig.jsx
  src/components/roles/BulkTableSelection.jsx
  src/components/roles/CreateRole.jsx
  src/features/workflows/WorkflowList.jsx
Due: lint-frontend, lint-backend, test-changed, format-check, security-review

security: Fix critical authentication vulnerabilities and implement session-based documentation access
  customer-app/server/utils/tokenService.js
  server/middleware/auth.js
  server/routes/auth.js
  server/routes/swaggerUi.js
  server/utils/tokenService.js
  src/components/roles/RoleList.jsx
Due: lint-frontend, lint-backend, test-changed, format-check, security-review

feat: Complete security review implementation and documentation updates
  server/graphql/resolvers/user.js
  server/middleware/index.js
  server/routes/documentation.js
  server/routes/index.js
  src/components/services/ServiceList.jsx
  test_generate_token.js
  tsconfig.tsbuildinfo
Due: lint-frontend, lint-backend, test-changed, format-check, security-review
